<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=no">
     <link th:href="@{/css/estilo2.css}" rel="stylesheet" type="text/css"/>
    <title>Bienvenido</title>
</head>
<body>
    <header>
            <img src="../images/colorful-illustration-video-games-black-background-text-logo-110505-wallhere.com.jpg" alt="pacman"/>

    </header>
    <div id="cajabienvenida">
        <h1>WELCOME</h1>

    </div>



    <footer>
<div id="btnempezar"><a th:href="@{/index}">Inicio</a>
        
    </a></div>
            <img src="../images/single-player-portada-articulo-startvideojuegos.png" alt="player1"/>

    </footer>
</body>
</html>